@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           
            <a href="https://www.cflux.nl" target="_blank"> <img src="/CFLUX-logo_210x57.png" alt="CFLUX logo" /></a>
        </div>

        <article class="content px-4">
            @Body
        </article>


          <div class="bottom-row px-20">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">test</a>
        </div>
    </main>

    
</div>
